# List Methods

In [2]:
# Little revision on previous day's lesson
perm = [34,45,56,45,34,23]

In [3]:
list_1 = [12,34,45,78,0.8,0.12,0.5651,'Permeability','porosity',['second_list',4334,2323,['fgfd']],perm]

In [4]:
list_1

[12,
 34,
 45,
 78,
 0.8,
 0.12,
 0.5651,
 'Permeability',
 'porosity',
 ['second_list', 4334, 2323, ['fgfd']],
 [34, 45, 56, 45, 34, 23]]

In [5]:
list_1[-1:-3:-3]

[[34, 45, 56, 45, 34, 23]]

In [6]:
list_1[-1][1:4:2]

[45, 45]

In [9]:
# .append(): adds value at the end of list

In [10]:
# empty lists [], are used to populate it in later stage

In [11]:
crude_density = []

In [12]:
crude_density.append(43)

In [13]:
crude_density

[43]

In [16]:
crude_density.extend([54,43])

In [17]:
crude_density

[43, 54, 43]

In [18]:
crude_density.append([54,43])

In [19]:
crude_density

[43, 54, 43, [54, 43]]

In [ ]:
# .insert(): like append, inserting item at a particular index

In [15]:
a1 = [23,34,32,54,32,45]

In [16]:
a1

[23, 34, 32, 54, 32, 45]

In [17]:
a1.insert(3,"Petroleum")

In [18]:
a1

[23, 34, 32, 'Petroleum', 54, 32, 45]

### List Operations

In [19]:
a = [1,2,3]
b = [5,6,7]

In [20]:
a+b

[1, 2, 3, 5, 6, 7]

In [21]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [23]:
a.pop() # pop out a value from the list

3

In [24]:
a # .pop(), will permanently pop out the input values

[1, 2]

In [25]:
a1

[23, 34, 32, 'Petroleum', 54, 32, 45]

In [26]:
a1.pop(3)

'Petroleum'

In [28]:
a1

[23, 34, 32, 54, 32, 45]

In [29]:
import numpy as np # Will learn more about numpy in upcoming lectures

In [31]:
a1

[23, 34, 32, 54, 32, 45]

In [33]:
np.array(a1)*3 # as opposed to line 22, list of arrays could carry out multiplications

array([ 69, 102,  96, 162,  96, 135])

# Range

In [45]:
range(10)

range(0, 10)

In [47]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range(3,10,2)) # would return a list of values starting with3 ending with 9, exclusive of 10, with 2 increment per step

[3, 5, 7, 9]

In [35]:
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
list(range(5,101,5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [55]:
# Take inputs from user: start,stop, step
# output list

In [39]:
start = int(input('Enter starting point: '))
stop = int(input('Enter stop point: '))
step = int(input('Enter step size: '))

list(range(start,stop,step))

Enter starting point: 5
Enter stop point: 50
Enter step size: 5

[5, 10, 15, 20, 25, 30, 35, 40, 45]

# Tuples

-  enclosed by ()

- ordered

- immutable

In [40]:
oilprod = (345,23242,323,43,3234)

In [41]:
oilprod

(345, 23242, 323, 43, 3234)

In [42]:
type(oilprod)

tuple

In [43]:
oilprod

(345, 23242, 323, 43, 3234)

In [44]:
oilprod[3]

43

In [45]:
oilprod

(345, 23242, 323, 43, 3234)

In [47]:
oilprod_list = list(oilprod) # changing tuples to lists

In [48]:
oilprod

(345, 23242, 323, 43, 3234)

In [49]:
oilprod_list

[345, 23242, 323, 43, 3234]

In [51]:
oilprod[2] = 54 # tuples are immutable (cannot add, delete, change the values inside)

TypeError: 'tuple' object does not support item assignment

In [52]:
oilprod_list[2] = 54 # but, lists are mutable

In [54]:
oilprod_list

[345, 23242, 54, 43, 3234]

In [55]:
oilprod

(345, 23242, 323, 43, 3234)

In [56]:
oilprod_list[::-1]

[3234, 43, 54, 23242, 345]

In [57]:
oilprod_list.reverse()

In [58]:
oilprod_list # this shows that lists are ordered, the same goes to tuples. Order of values are fixed.

[3234, 43, 54, 23242, 345]

In [61]:
oilprod[::-1]

(3234, 43, 323, 23242, 345)

# Sets: Unordered data structure

- No Duplication of data (Data of the same values will be shown only once)

- {}

- Unique data

- Unordered

- Faster than list

- unique elements, noduplicate values allowed

In [62]:
perm = {2,2,2,2,3,43,4,3,2,2,4,5,6,7,8,4,5,6,7,8,9,56,43,43}

In [63]:
perm # note that repeating numbers are only shown once

{2, 3, 4, 5, 6, 7, 8, 9, 43, 56}

In [67]:
set_1 = {2,2,2,2,2,3,3,4,7,89,0,63,11,456,77,54,4,'ja','ja'}

In [68]:
set_1

{0, 11, 2, 3, 4, 456, 54, 63, 7, 77, 89, 'ja'}

In [69]:
set_1[3] # sets have no indexing

TypeError: 'set' object is not subscriptable

In [70]:
s = {"perm","Perm"} # python is case sensitive

In [71]:
s

{'Perm', 'perm'}

In [72]:
a,A = 45,54

In [73]:
a

45

In [74]:
A

54

In [76]:
len(perm)

10

# Summary

|Lists|Tuples|Sets|
|:-:|:-:|:-:|
|[ ]|( )|{ }|
|Mutable|Immutable|Mutable|
|Ordered|Ordered|Unordered|
|Non-unique|Non-unique|Unique|