# Integers

In [2]:
2

2

In [3]:
450

450

In [5]:
65000

65000

In [6]:
print(99)

99

## Floats: Decimal Values

In [7]:
8.0

8.0

In [8]:
8 # This is an integer

8

In [9]:
print(9.6)

9.6

In [10]:
type(8) # type() return the data types of the input values

int

In [11]:
type(8.0)

float

# Strings:

Strings are basically Texts. If you want python to return text for you use strings, where you just have to enclosed words/numbers/sybols etc. with (" " , ' ')

In [13]:
"porosity"

'porosity'

In [14]:
'porosity'

'porosity'

In [15]:
type("porosity")

str

In [16]:
"@##$(@#$()@*&*(@#(043nxmknx,mcn,mnsknds)))"

'@##$(@#$()@*&*(@#(043nxmknx,mcn,mnsknds)))'

In [12]:
"9"

'9'

In [13]:
type(69)

int

In [14]:
type(6.0)

float

In [15]:
type("32") # Note that even if 32 is an integer, as its enclosed within " ", python considered it as a string

str

In [21]:
"97897+93493" # You cannot carry out mathematical calculations with strings

'97897+93493'

# Booleans

True or False.
Boolean values is what python returns as a result of its evaluations.

In [16]:
5 > 8

False

In [17]:
5 == 5

True

In [18]:
5 < 8

True

In [25]:
type(True)

bool

## Mathematical Operations

In [19]:
45 + 54

99

In [21]:
75*5

375

In [31]:
29 - 15

14

In [27]:
88/4

22.0

In [28]:
20/5

4.0

In [29]:
15.0 + 12

27.0

In [30]:
10 + 5

15

In [32]:
5**3 # is basically 5^3

125

In [34]:
# * for multiplication, ** for exponential power

print(5*2)
print(5**2)

10
25

In [35]:
31/5

6.2

In [36]:
31//5 # Use // if you want the answer as an integer

6

In [34]:
31 % 5 # % is referring to modulo operations, where it return the remainder of 31/5

1

In [38]:
# Bear in mind that strings cannot carry out mathematical calculations within ("",''), but you can do it between strings

In [35]:
"67+43"

'67+43'

In [36]:
"67"+"2" # Note that its not going to adds up 67 + 2, but the two strings will be joined together

'672'

In [42]:
"Hello"+" All"

'Hello All'

In [37]:
"9"*3

'999'

In [38]:
"8"+"8"+"8"

'888'

In [41]:
"Geology "*3

'Geology Geology Geology '

In [46]:
# booleans values

In [42]:
80 > 60

True

In [43]:
80 < 60

False

In [44]:
35 == 35

True

In [50]:
55 == 65

False

In [51]:
56 > 23

True

In [52]:
25 < 45

True

In [56]:
56 > 23 and 25 < 45 # For AND, both statements has to be true for python to return True

True

In [55]:
56 > 23 and 25 < 20 # 1st statement is true but 2nd statement is false, since its AND logic, python return False

False

In [57]:
43 > 23

True

In [58]:
45 < 21

False

In [45]:
43 < 23 or 45 < 21 # For OR logic, only one of the statements has to be true for python to return boolean values True

False

# Variables:

- Containers for storing informations

- Variables are created using the "=" sign

In [61]:
porosity = 20 # porosity is the container & 20 is the stored info

In [62]:
porosity

20

In [64]:
"hello"

'hello'

In [65]:
porosity == 45

False

In [47]:
b = "Petroleum"

In [48]:
b

'Petroleum'

In [49]:
type(b)

str

In [50]:
#reinitialise
b = "porosity"

In [51]:
b

'porosity'

In [52]:
b   # Note that once you reassigned a variable with a new input, its permanently changed

'porosity'

## Important Notes:

### Variable names cannot start with a number or special character, ie 2,3,4,@#

### Variable name doesnot have any space in between two characters, but underscore can be used

In [7]:
1a = 45

SyntaxError: invalid syntax (<ipython-input-7-bf1781d39248>, line 1)

In [8]:
a1 = 45

In [9]:
a1

45

In [10]:
@a = 43

SyntaxError: invalid syntax (<ipython-input-10-4fca055f1eac>, line 1)

In [11]:
_a = 45

In [12]:
_a

45

In [13]:
porosity 1 = 45 # There could be no space in a var name

SyntaxError: invalid syntax (<ipython-input-13-49a2cb730f5f>, line 1)

In [53]:
porosity_1 = 45

In [54]:
porosity_1

45

In [55]:
poro_1 = 20
poro_2 = 10

In [56]:
poro_1 + poro_2 # You can carry out mathematical operations between variables

30

In [57]:
poro_1 - poro_2

10

In [58]:
poro_1/poro_2

2.0

In [26]:
a = "Hello "
b = 3

In [23]:
a*3

'Hello Hello Hello '

In [27]:
a,b = "Hello",3  # you may assign two var. with two separate input in just one line of code

In [28]:
a

'Hello'

In [29]:
b

3

# Input : Taking input from user

- takes input in as strings

In [59]:
input()

25

'25'

In [63]:
perm = input()

36

In [64]:
perm

'36'

In [65]:
type(perm)

str

In [68]:
perm = input("Enter the formation's permeability: ")

Enter the formation's permeability: 23

In [69]:
perm

'23'

In [70]:
perm/2 # Since perm input value using input() funtion alone, is considered as str, operation is not valid

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Type conversions

- Convert from one data types to another data types

In [71]:
perm

'23'

In [72]:
type(perm)

str

In [73]:
float(perm) # This does not change the data type permanently

23.0

In [74]:
type(perm)

str

In [75]:
perm

'23'

In [76]:
perm = float(perm) # Will have to reassigned the var again using '=', followed by the data type functions

In [77]:
type(perm)

float

In [78]:
perm

23.0

In [79]:
a = 3

In [80]:
type(a)

int

In [81]:
str(a)

'3'

In [82]:
a = str(a)

In [83]:
a

'3'

In [84]:
float(a)

3.0

In [85]:
a = 'petroleum'

In [86]:
a

'petroleum'

In [87]:
float(a) # Certain types of data types cannot be converted into some certain data types

ValueError: could not convert string to float: 'petroleum'

In [91]:
a = 7.2

In [92]:
int(a)

7

In [93]:
int(6.7)

6

In [97]:
permeability = float(input("Enter the formation's permeability: ")) # Combine datatype functions with the input() func. to specify the input data type from user.

Enter the formation's permeability: 40

In [98]:
permeability

40.0

In [99]:
type(permeability)

float

## String Formatting

In [105]:
permeability = float(input("Enter the formation's permeability: "))
porosity = float(input("Enter the formation's porosity: "))


print(f"Formation Porosity is {porosity*100}, and permeability is {permeability} md, \
and product of both is {porosity*permeability}")

Enter the formation's permeability: 25
Enter the formation's porosity: 0.4
Formation Porosity is 40.0, and permeability is 25.0 md, and product of both is 10.0

In [106]:
print("Formation Porosity is {}, and permeability is {} md".format(porosity,permeability))

Formation Porosity is 0.4, and permeability is 25.0 md

In [107]:
print("Formation porosity is ", porosity, "and permeability is ", permeability)

Formation porosity is  0.4 and permeability is  25.0